{% extends "order/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">Lista produktów:</h1>
      <p>Usuń Zamówienie</p>
      <p>Edytuj Zamówienie</p>
  </div>
{% endblock page_header %}


    <div>
      {% block content %}
        <h2>Zamówienie: {{order_products}}</h2>
        <ul>
{%for product in products %}

    <li><h3>Produkt:  {{ product }}</h3>
        <p>Ilość Zamówiona: {{product.quantity}}</p>
        <p>Cena: {{product.purchase_final_price}}</p>
    </li>


{% empty %}
      <li><h3>Brak Produktów.</h3></li>
    {% endfor %}
  </ul>

      {% endblock content %}
    </div>





