{% extends "order/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">Lista zamówień:</h1>
      <a href="{% url 'order:new_order'%}">Dodaj nowe Zamówienie</a>
  </div>
{% endblock page_header %}

    <div>
      {% block content %}
        <ul>
    {% for order in orders %}

      <li><h4>
        <a href="{% url 'order:order_products' order.id %}">{{ order }}</a>
      </h4></li>
           <a href="{% url 'order:edit_order' order.id %}">Edytuj zamówienie</a>
    <p>Data:  {{ order.date_of_order }}</p>
    <p>Status:  {{ order.status }}</p>
            <p>ID:  {{ order.id }}</p>

            <p> </p>

{% empty %}
      <li><h3>Brak dodanych zamówień.</h3></li>
    {% endfor %}
  </ul>

      {% include "order/pagination.html" with page=orders %}
      {% endblock content %}
    </div>



